* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background: url("images/background.jpg");
	background-repeat: no-repeat;
	background-color: #f3bbce;
}

#main-home {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 20px 50px; */
}

h1 {
	font-family: 'Nanum Pen Script', cursive;
	text-align: center;
	font-size: 2rem;
	max-width: 280px;
	color: #dd2429;
	text-decoration: underline;
  animation: strike 5s 1 linear;
	text-decoration-color: #dd2429;
}

@keyframes strike {
  from {
		text-decoration-color: transparent;
	}
  to {
		text-decoration-color: #dd2429;
	}
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header div {
	display: flex;
	flex-direction: row;
}

header img {
	width: 300px;
}

.desktop-logo {
	display: none;
}

/***** MOBILE NAVIGATION *****/

.nav-icons {
	width: 70px;
}


.hamburger{
  background: none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  color:#060709;
  border:0;
  font-size:2.5em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  color:#060709;
  border:0;
  font-size:5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
	z-index:1000000;
	font-weight:bold;
	width:100%;
	background: url("images/background.jpg");
	position:absolute;
	text-align:center;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
.menu li {
	display: block;
	line-height: 50px;
	border-bottom:#f4bfd1 1px solid;
}
.menu li:hover{
	display: block;
	background:#ffffff;
	border-bottom:#f4bfd1 1px solid;
}
.menu ul li a {
	text-decoration:none;
	padding: 10px 20px;
	margin: 0px;
	color:#060709;
}
.menu ul li a:hover {
	text-decoration: line-through;
  animation: strike .5s linear;
	text-decoration-color: #dd2429;}
.menu a{
	text-decoration:none;
	color:#666;}
.menu a:hover{
	text-decoration:none;
	color:#060709;}

.menu ul li {
	font-family: 'Acme', sans-serif;
	font-size: 2rem;
}


/***** DESKTOP NAVIGATION ****/
.desktop-nav {
	display: none;
}

.desktop-nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.desktop-nav ul li {
	padding: 10px 25px;
	font-family: 'Acme', sans-serif;
	font-size: 2rem;
}

.desktop-nav ul li a {
	text-decoration: none;
	color: #060709;
	padding: 10px 20px;
}

.desktop-nav ul li a:hover{
	text-decoration: line-through;
  animation: strike .5s linear;
	text-decoration-color: #dd2429;
}

@keyframes strike {
  from { text-decoration-color: transparent; }
  to { text-decoration-color: #dd2429; }
}

.active {
	background: url("images/lips.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -40px 75%;
}

/***** FOOTER *****/

footer {
	background-color: #060709;
	padding: 40px 0;
}

footer p {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 1rem;
	text-align: center;
}


/***** BOOK *****/
/* https://codepen.io/dhanishgajjar/pen/bjaYYo */


.book {
  transform-style: preserve-3d;
  position: relative;
  height: 500px;
  cursor: pointer;
  backface-visibility: visible;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 400px; /*change this */
  height: 100%; /*change this */
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front, .back {
  background: url("images/burnbook.jpg");
	background-size: cover;
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 {
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: url("images/cady_screenshot.png");
}

.page6 {
  background: url("images/regina_screenshot.png");
}

.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}


/***** SUBPAGE *****/

.character-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

#regina-headline {
	max-width: 200px;
}

.mobile-quote {
	display: flex;
	padding-top: 25px;
	width: 100%;
}

.mobile-quote p {
	font-family: 'Nanum Pen Script', cursive;
	text-align: center;
	font-size: 1.5rem;
	color: #060709;
	padding: 20px;
}

.quote {
	display: none;
	max-width: 700px;
}

.quote p {
	font-family: 'Nanum Pen Script', cursive;
	text-align: center;
	font-size: 1.5rem;
	color: #060709;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px 20px 20px;
}

section {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	max-width: 300px;
	padding-bottom: 20px;
}

section img {
	max-width: 600px;
}

h2 {
	font-family: 'Acme', sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

section ul li {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #060709;
}

article {
	max-width: 700px;
}

article p {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #060709;
	padding: 7px 0;
}

.right-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
}

/***** SLIDESHOW *****/


.slideshow {
	text-align: center;
  margin-left: 205px;
}

.slidepic {
  height: 200px;
  width: 200px;
  margin-top: 30px;
  margin-left: -210px; /* change in media queries */
  border: 5px solid #fff;
  border-bottom-width: 15px;
  -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  z-index: 2;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.slidepic:first-child {
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}

.slidepic:nth-child(2) {
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

.slidepic:nth-child(3) {
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.slidepic:nth-child(4) {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.slidepic:last-child {
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/***** SLIDER ANIMATION *****/
/* https://www.cssscript.com/polaroid-like-stacked-image-slideshow/ */

.slideshow:hover .slidepic:nth-child(4) {
  -moz-transform: rotate(10deg) translateX(50px);
  -ms-transform: rotate(10deg) translateX(50px);
  -webkit-transform: rotate(10deg) translateX(50px);
  transform: rotate(10deg) translateX(50px);
}

.slideshow:hover .slidepic:nth-child(3) {
  -moz-transform: rotate(3deg) translateX(75px);
  -ms-transform: rotate(3deg) translateX(75px);
  -webkit-transform: rotate(3deg) translateX(75px);
  transform: rotate(3deg) translateX(75px);
}

.slideshow:hover .slidepic:nth-child(2) {
  -moz-transform: rotate(-2deg) translateX(-50px);
  -ms-transform: rotate(-2deg) translateX(-50px);
  -webkit-transform: rotate(-2deg) translateX(-50px);
  transform: rotate(-2deg) translateX(-50px);
}

.slideshow:hover .slidepic:first-child {
  -moz-transform: rotate(-8deg) translateX(-75px) translateY(-10px);
  -ms-transform: rotate(-8deg) translateX(-75px) translateY(-10px);
  -webkit-transform: rotate(-8deg) translateX(-75px) translateY(-10px);
  transform: rotate(-8deg) translateX(-75px) translateY(-10px);
}

.slidepic.slide-right {
  -moz-transform: rotate(290deg) translateX(250px);
  -ms-transform: rotate(290deg) translateX(250px);
  -webkit-transform: rotate(290deg) translateX(250px);
  transform: rotate(290deg) translateX(250px);
}

.slidepic.slide-left {
  -moz-transform: rotate(-290deg) translateX(-250px);
  -ms-transform: rotate(-290deg) translateX(-250px);
  -webkit-transform: rotate(-290deg) translateX(-250px);
  transform: rotate(-290deg) translateX(-250px);
}

.slidepic.back { z-index: 1; }


/* =======================================================

					START 400PX MIN-WIDTH MEDIA QUERY

========================================================*/

@media (min-width: 400px) {
	#regina-headline {
		max-width: none;
	}

}


/* =======================================================

					START 450PX MIN-WIDTH MEDIA QUERY

========================================================*/

@media (min-width: 450px) {
	h1 {
		font-size: 3.5rem;
		max-width: 450px;
	}

	#cady-headline {
		max-width: 310px;
	}

	#regina-headline {
		max-width: 350px;
	}
}

/* =======================================================

					START 500PX MIN-WIDTH MEDIA QUERY

========================================================*/

@media (min-width: 500px) {
	#cady-headline {
		max-width: none;
	}
}

/* =======================================================

					START 600PX MIN-WIDTH MEDIA QUERY

========================================================*/

@media (min-width: 600px) {
	#regina-headline {
		max-width: none;
	}
}

/* =======================================================

					START 700PX MIN-WIDTH MEDIA QUERY

========================================================*/

@media (min-width: 700px) {
	h1 {
		font-size: 5rem;
		max-width: none;
	}

	#main-home {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 20px 50px;
	}

	#main-home h1 {
		max-width: 600px;
		padding-right: 300px;
	}

	#book-position {
		padding: 20px 20px 50px 0;
	}

	.mobile-quote {
		display: none;
	}

	.quote {
		display: block;
	}

	.quote p {
		font-size: 2rem;
	}

	section {
		padding-bottom: 0;
	}

	h2 {
		font-size: 2rem;
	}
}


/* =======================================================

					START 800PX MIN-WIDTH MEDIA QUERY

========================================================*/


@media (min-width: 800px) {
	.mobile-header-container {
		display: none;
	}

	.menu {
		display: none;
	}

	.desktop-logo {
		display: block;
	}

	.desktop-nav {
		display: block;
	}

	.info {
		flex-direction: row;
	}

}
